# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
env/
venv/

# VS Code settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
*.egg
dist/
build/

# Logs or temp files
*.log
*.tmp
